---
layout: default
---
<div id="output" class="output">
    <section class="box gb-info">
        <b>📀 BAZA GIEREK GAME BOY (ARCHIWUM)</b>
        <br><br>

        <pre style="color:lime;">
        ==========================================
           SYSTEM: GAME BOY / GB CLASSIC
           TRYB: ARCHIWUM KOLEKCJI
           OSTATNIA AKTUALIZACJA: 2026-07-25
        ==========================================
        </pre>

        <table class="table">
        <tr>
            <td>#ID</td>
            <td>TYTUŁ</td>
            <td>REGION</td>
            <td>TXID</td>
        </tr>

        {% for gra in site.data.games %}
        <tr>
            <td>{{ gra.id }}</td>
            <td>
                {{ gra.tytul }}
                {% if gra.nowy %}<br><span class="blink" style="color:red; font-size:11px;">🆕 NOWOŚĆ!</span>{% endif %}
            </td>
            <td>{{ gra.region }}</td>
            <td>
                <span class="txid"
                onclick="copyTX(this)"
                data-full="{{ gra.txid }}">
                {{ gra.txid | slice: 0, 9 }}..
                </span>
            </td>
        </tr>
        {% endfor %}

        </table>

        <br>

        <pre style="color:cyan;">
        > KLIKNIJ TXID ABY SKOPIOWAĆ
        > DANE POCHODZĄ Z BLOCKCHAIN BSV
        </pre>

        <marquee scrollamount="3">
        🕹️ SYSTEM GOTOWY DO ODCZYTU TRANSAKCJI 🕹️
        </marquee>

    </section>
</div>