<div class="sidebar">

        <div class="box" style="position: relative;">
		<img src="assets/stars.gif" class="gifzed" style="width:80px;">
			<b>MENU</b><img src="assets/stars.gif" class="gifzed" style="width:80px;"><br><br>
			<a class="bsvlink" href="index.html">▸ 🏠 STRONA GŁÓWNA</a><br>
			<a class="bsvlink" href="baza.html">▸ 📀 BAZA GIEREK</a><br>
			▸ 🔧 SKANY PŁYTEK PCB<br>
			<a class="bsvlink" href="dziennik.html">▸ 🧾 DZIENNIK</a><br>
			▸ 🎮 STREFA EMULACJI<br>
			▸ 🌐 WYMIANA LINKÓW<br>
			▸ 💾 MAGAZYN ZAPISÓW<br>
		</div>

        <div class="box gb-controller">
            <div class="gb-dpad"></div>
            <div class="gb-ab">
                <span class="gb-btn">B</span>
                <span class="gb-btn">A</span>
            </div>
        </div>

        <div class="ad">🔥 HOT: FREE GAME BOY EMULATOR 2000 🔥</div>

        <div class="box">
            <img src="assets/counter.gif" width="100%">
        </div><br>
		<div class="box" style=" box-shadow: 0 0 10px lime, 0 0 20px lime, 0 0 30px lime;">
			<img src="assets/18.gif" width="50%">
			<img src="assets/9.gif" width="40%">
		</div><br>
		<div class="box">
			<b>📜 LOG SYSTEMU (LIVE)</b><br><br>

			<div id="logWindow"></div>
		</div>
		<div class="box" style="text-align:center;">
   			 <span style="color:cyan; font-size:12px;">JESTEŚ ODWIEDZAJĄCYM NR:</span><br>
   			 <span class="counter" id="visitCounter">000000</span>
		</div><br>

    </div>
